<div *ngIf="loader">
    <div class="overlay">
        <div class="spinner-wrapper">
            <app-loader></app-loader>

        </div>
    </div>
</div>
<div class="dialog-div">
    <div class="row">
        <div class="container-fluid header-div">
            <div>
                <span class="title-css">{{data.action}} Item</span>
            </div>

        </div>
    </div>



    <div class="container">
        <form [formGroup]="itemDetailsForm" class="material-form" [class.blurred]="!loader">

            <div class="row">
                <div class="col-md-6 form-group">

                    <mat-form-field class="material-full-width">
                        <mat-label>Item Name</mat-label>
                        <input formControlName="name" pattern="^[a-zA-Z0-9 ]*$" matInput>
                    </mat-form-field>
                    <div *ngIf="itemDetailsForm.controls.name.errors && itemDetailsForm.controls.name.touched"
                        class="text-danger">
                        <div *ngIf="itemDetailsForm.controls.name.errors.required" class="errormsg">
                            Required
                        </div>
                    </div>
                    <div *ngIf="itemDetailsForm.controls.name.errors && itemDetailsForm.controls.name.touched"
                        class="text-danger">
                        <div *ngIf="itemDetailsForm.controls.name.errors.pattern" class="errormsg">
                            Item Name should be Alphanumeric.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field class="material-full-width">
                        <mat-label>Price</mat-label>
                        <input formControlName="price" pattern="[0-9]+(\.[0-9]{1,2})?%?" matInput>
                    </mat-form-field>
                    <div *ngIf="itemDetailsForm.controls.price.errors && itemDetailsForm.controls.price.touched"
                        class="text-danger">
                        <div *ngIf="itemDetailsForm.controls.price.errors.required" class="errormsg">
                            Required
                        </div>
                    </div>
                    <div *ngIf="itemDetailsForm.controls.price.errors && itemDetailsForm.controls.price.touched"
                        class="text-danger">
                        <div *ngIf="itemDetailsForm.controls.price.errors.pattern" class="errormsg">
                            Price should be Number.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group">

                    <mat-form-field class="material-full-width">
                        <mat-label>Description</mat-label>
                        <!-- <input formControlName="description" matInput> -->
                        <textarea matInput formControlName="description" cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                    <div *ngIf="itemDetailsForm.controls.description.errors && itemDetailsForm.controls.description.touched"
                        class="text-danger">
                        <div *ngIf="itemDetailsForm.controls.description.errors.required" class="errormsg">
                            Required
                        </div>
                    </div>
                </div>
                
            </div>



            <input type="hidden" autofocus="autofocus" />
            <!-- <div class="err-msg" *ngIf="errorMsg">
                {{errorMsg}}
            </div> -->
        </form>

        <div class="btn-div">
            
                <button *ngIf="data.action == 'Add'"
                    [attr.disabled]="itemDetailsForm.invalid? true: null"
                    class="btn btn-primary action-btn" (click)="saveItem();">Save
                </button>
                <button *ngIf="data.action == 'View/Edit'"
                    [attr.disabled]="itemDetailsForm.invalid? true: null"
                    class="btn btn-primary action-btn" (click)="updateItem();">Update
                </button><button (click)="close()"
                    class="btn btn-primary action-btn cls-css">Cancel</button>

        </div>

    </div>
</div>